/*.carousel-inner, .carousel-item > a > img {
    border-radius: 10px;
}
.carousel-item > a > image{
    display: block;
    position: absolute;
    min-height: 25%;
    min-width: 25%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner {
    border: 0.5px solid grey;
}
.card-img-top{
    width: 75%;
    height: 75%;
}
.img-ctnr > div {
    float: left;
    width: 25%;
    padding-top: 0px;
    display: inline-table;
    margin-top: 10px;
    margin-bottom: 10px;

}
.img-ctnr {
    justify-content: center !important;
}
.card {
    width: 100%;
    border-radius: 5px;
}
.img-ctnr::after {
    content: "";
    clear: both;
    display: table;
}
.hotsale {
    background: linear-gradient(to bottom, #76bcfd, #1d2671);
}*/
.slide {
    border: 0.5px solid grey;
    border-radius: 7px;
    background: black;
}
 img{
    border-radius: 7px;
}
.slick-slide {
    padding-left: 3.5px;
    padding-right: 3.5px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.slide > div {
    margin: 10px !important;
}
.slide > button{
    display: none !important;
}
a:hover {
    text-decoration: none;
    color: black;
}
.card-img-top{
    height:65%;
    width: 65%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card-body {
    min-height: 175px;
}
h5.pricesale {
    color: #be1e2d;
}
h4.d-inline{
    padding-left: 10px;
}
.caption {
}
.khuyenmai > h4 {
    padding-top: 12px;
    padding-left: 12px;
    color: rgb(255, 255, 0);
    font-style: italic;
    text-shadow: -2px -2px 1.5px rgb(255, 81, 0);
    display: inline-block;
}
#timer > div {
    display: inline-block;
}
#days, #hours, #minutes, #seconds {
    border-radius: 5px;
    background-color: white;
    padding: 6px;
    text-align: center;
    font-size: 17px;
    color: black;
    font-weight: bold;
}
.slick-prev {
    background-color: black;
}
.highlight::after {
    content: "";
    clear: both;
    display: table;
    
}

.highlight > div {
    float: left;
    width: 25%;
    padding-top: 0px;
    display: inline-table;
}
.highlight {
    justify-content:center;
}
.highlight > div > a > div {
    border-radius: 10px;
    margin: 10px;
}
    .highlight > div > a > div:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.4s ease-in-out;
    }
.d-inline > button {
    border: 1px solid #E5E7EB;
    margin-left: 5px;
    border-radius: 100px;
}
    .d-inline > button:hover, .d-inline > button:focus {
        box-shadow: none !important;
        background-color: #be1e2d;
        color: white;
    }
.slick-prev, .slick-next {
    background-color: rgb(255 255 255) !important;
    z-index: 1;
    width: 40px !important;
    height: 70px !important;
    justify-content: center;
    border-radius: 5px;
    top: 49% !important;
}
h6.price{
    text-decoration: line-through 1px solid black;
}
.slick-prev {
    border-radius: 4px 2px 2px 4px !important;
    left: 4px !important;
    box-shadow: 6px 0px 4px rgb(0 0 0 / 10%), 4px 0 4px rgb(0 0 0 / 18%);
}
.slick-next {
    border-radius: 2px 4px 4px 2px !important;
    right: 4px !important;
    box-shadow: -6px 0 4px rgb(0 0 0 / 10%), -4px 0 4px rgb(0 0 0 / 18%);
}
    .slick-prev:before, .slick-next:before {
        color: rgb(158 158 158 / 0.5) !important;
        font-size: 32px !important;
    }
    .slick-prev:hover, .slick-next:hover {
        transition: 1s ease-in-out;
    }
    .slick-prev:focus {
        box-shadow: 6px 1px 4px rgb(0 0 0 / 10%), 4px 0 4px rgb(0 0 0 / 18%);
    }
.slick-next:focus {
    box-shadow: -6px 0 4px rgb(0 0 0 / 10%), -4px 0 4px rgb(0 0 0 / 18%);
}
.rating-checked {
    color: rgb(255, 81, 0);
}
.lbtragop {
    background-color: #be1e2d;
    color: white;
}

.lbsale span {
    border-radius: 4px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
}

.lbsale {
    padding-top: 3px;
    padding-left: 7px;
}
.banner {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}
    .banner > a > img {
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5px;
    }