@using Microsoft.AspNetCore.Identity
@using WEB2.Models
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<AppUser> SignInManager

@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService
<link href="~/css/style.css" rel="stylesheet">
@if (SignInManager.IsSignedIn(User)
&& (await authorizationService.AuthorizeAsync(User, "AdminDropdown")).Succeeded) {

<li class="nav-item dropdown header-profile">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
        <i class="mdi mdi-account"></i>
        <span class="ml-2">Manage</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-page="/Role/Index" asp-area="Admin">
            <i class="icon-bag"></i>
            <span class="ml-2">Quản lý role </span>
        </a>
        <a class="dropdown-item" asp-page="/Role/User" asp-area="Admin">
            <i class="icon-user-follow"></i>
            <span class="ml-2">Gán role cho User</span>
        </a>
        <a class="dropdown-item" asp-area="Admin" asp-page="/Manage/Calendar">
            <i class="icon-l-settings"></i>
            <span class="ml-2">Trang quản trị </span>
        </a>
    </div>
</li>
}