.col-md-11{
    justify-content: center;
    margin: auto;
}
.col-md-11 > .card {
    height: 420px;
    border-radius: 12px;
    border: 1px solid rgb(199, 199, 199);
}
.col-md-11 > .card:hover {
    transition: ease-in-out 0.5s;
    border: 1px solid black;
}
.img-wrap {
    max-width:inherit;
    width: 210px;
    height: 210px;
    max-height: inherit;
    position: relative;
    display: inline-block;
    margin: auto;
    justify-content: center;
    overflow: auto;

}
.img-wrap > img {
    display: block;
    position: absolute;
    min-height: 25%;
    min-width: 25%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.lbtragop {
    background-color: #be1e2d;
    color: white;
}
.lbsale span {
    border-radius: 4px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
}
.lbsale{
    padding-top: 3px;
    padding-left: 7px;
}
a > .card-subtitle, .card-title, svg{
    color: black;
}
.SalePrice{
    color: #be1e2d;
}
.text-muted{
    text-decoration: line-through 1px solid black;
}
.rating_checked {
    color: rgb(255, 81, 0);
}