<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppName</title>
    <!-- Bootstrap core CSS -->

    <link href="bootstrap.min.css" tppabs="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="sidebars.css" tppabs="https://getbootstrap.com/docs/5.1/examples/sidebars/sidebars.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/sidebars.css" tppabs="https://getbootstrap.com/docs/5.1/examples/sidebars/sidebars.css" rel="stylesheet">

    @RenderSection("Styles", false)
</head>
<body>
    <main>
        <div class="flex-shrink-0 p-3 bg-primary" style="width: 280px;">
            <a href="/">
                <img style="height:7%;width:75%" src="~/images/GoTech.vn_logo.png" />
            </a>
            <ul class="list-unstyled ps-0">

                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Doanh số</a></li>
                            <li><a href="#" class="link-dark rounded">Thống kê dữ liệu giao dịch</a></li>
                            <li><a href="#" class="link-dark rounded">Top 5 sản phẩm bán chạy</a></li>
                            <li><a href="#" class="link-dark rounded">Thống kê dữ liệu</a></li>
                            <li><a href="#" class="link-dark rounded">Danh sách giao dịch</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Quản lý bán hàng
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Giao dịch</a></li>
                            <li><a href="#" class="link-dark rounded">Đơn hàng sản phẩm</a></li>
                            <li><a href="#" class="link-dark rounded">Doanh số</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#inven-collapse" aria-expanded="false">
                        Quản lý kho hàng
                    </button>
                    <div class="collapse" id="inven-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Danh sách hàng tồn kho</a></li>
                            <li><a href="#" class="link-dark rounded">Danh sách mặt hàng bán chạy</a></li>
                            <li><a href="#" class="link-dark rounded">Danh sách mặt hàng sắp hết</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false">
                        Sản phẩm
                    </button>
                    <div class="collapse" id="product-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Sản phẩm</a></li>
                            <li><a href="#" class="link-dark rounded">Danh mục</a></li>
                            <li><a href="#" class="link-dark rounded">Nhà cung cấp</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>

                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Tài khoản
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Ban quản trị</a></li>
                            <li><a href="#" class="link-dark rounded">Thành viên</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#contact-collapse" aria-expanded="false">
                        Nội dung
                    </button>
                    <div class="collapse" id="contact-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Liên hệ</a></li>
                            <li><a href="#" class="link-dark rounded">Tin tức</a></li>
                            <li><a href="#" class="link-dark rounded">Slide</a></li>
                            <li><a href="#" class="link-dark rounded">Ảnh bài viết</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="b-example-divider"></div>
        <div class="container body-content">
            @RenderBody()
            <p>hello</p>
            <hr />
            <footer>
                <p>&copy; 2019 - AppName</p>
            </footer>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/sidebars.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>