@{
    ViewData["Title"] = "Trang chủ";
}
@section Styles {
    <link href="@Url.Content("/css/views/home/index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css")" rel="stylesheet" type="text/css" />
}
<body>

    @*Banner  quảng cáo*@
    <div class="slide">
        <div>
            <a href="#">
                <img class="d-block w-100" src="https://lh3.googleusercontent.com/47OdAQrEC5dvqaRBJJu79WK52jhiN0-YTHwnZS5slaZGIhsBxecu_l3f2MSemVM2NQdmC5cff0U1OwnYZkh-QvieFrBHQn4TdAnPzwxaYe1DzyWO7X7Qo0Af3XFyma49uGOOj0j5b7BIsyaFDzk8SPxaq03vdE-qeiTOha9x2Iv_XHSwEbyXSH_VJpvZAQO5-KIdEwj-4f6vpbs18LjFySAwxTBtUKxpj0s1I_xLUV8ZAELEN22iBvHHoyulzZn4F-R3kVeVeg8UWaBPe1aKV7hnRo_wNa8AnrVNh8-pWynkd7lxwiGQr82hd12mikwnZMoQ6zCzG5tzSTfmJe0eOMu6siRlamhTHwyo6fYjgIaJmXBNcyD8x9H7QYRqDTgkTNU80PazsfrxwrxV4BMidpUnHdVXk5vLIPzzl6GFfSIYdERhZxkrcviSTy4EfuOtP2vOmcjxPhHfKbyFk3gNLyCKN6te-dINy2JhVpdd2lSdt8eNCS25WgLafrL-RO85pb9quC1D5QgcZ031q0wa1gH_of33Gz8N5mOrXYk-W3lQMBOTKdJa5G9IPVP9sxfyC3O-JVCs9c1gygK3iI0NHTJKhF3Vuq0PTerbOUCaEFVGr0aRDE6pj61H_AdO9eDXFLzrAzHPTod_61vA0u5ZnPFUxASQcSchAH6e5IQQCh1b9gfmEtO4EAVe6y4TcOo1pO_c7A3K1I6LR1VeGKpVKw_o=w1200-h382-no?authuser=1" alt="First slide">
            </a>
        </div>
        <div>
            <a href="#">
                <img class="d-block w-100" src="https://lh3.googleusercontent.com/vwuQjz0zg5GMzXFcQPLLApoWs3nfD4wHpL2TdN5HrCRkStUWhGFkT2yhpVfR2QQ6rp1TpvOkSugOZiJcmd37-Q_yEkJL2TXUpzxRH99fWjc5ZUBJg5kyo-jyOfpvUX13OuXdkoTEjbpxrUKHHKFLYElrowab8lVkICsNaYLUzVM7ndWYM7DrC-wIf9EwGL30b2nz2KN3CIBcVW2vyIMe9RB536ITZGD0MTjsdCM4HPJvT3D9qPryc4Aid2vbnN9-oBpJQNwMmAE-CKm4F9F5ibwSNGaOHd0Ac9XzqcA3UBKr5WtX1hDN9H85y_YttyRq5QlIYGOjVH5r7AYPocSdQxQMZcWuXMwlF0svdK9wY-25GT5e-HoLpfy9j0TWEzwnN6YbpkV3FXW71qvrX9CtX65fUqdq-2gLc8X6T0B3T_hd7qPbhA2_68DnJ5yCQ4k0MTEjTFJKvWXtVStWscK0fiKTTkfrYoC_4Ox8b3761bXbD0FTf3gHg_49tffps1cXWbyxWsrgbf7cm1dsX7SE_mNEAhvmQ2tto50XS6mEfNJ3Ye8NY2N7ROmQp_aAFrHPYFJFri4Dlo0b6Cxx46S0Kp0rk7mXrbAbbhOhptPsFKmE72b3PQZE-f_MNek-TM6JirpmkL9g3Mbx6oCFr5tKYltkT5eaEf0D8ljuaDxKF3LooUuE98_PtaQp-Fd-RMNMe_sHDO05C1RqE_4HGSTrb9Ki=w1200-h382-no?authuser=1" alt="Second slide">
            </a>
        </div>
        <div>
            <a href="#">
                <img class="d-block w-100" src="https://lh3.googleusercontent.com/K-nORrHzgyphSPht1vyktpuZgaEEsQ-xe3ChreUV-PXzFYm7H0jS37xEgZz8KWPd3QPqe6Mjvp8VPHa0qbrwYBEKpTosWSticHEiMfBu6h6r5ZZRZGTkPQes7G6nWA-oOVCStq7J7j5ru8P1EsOGC1dxezciVNog7z5bS2lW7eJVaPK5CnxIfbvG_2QIWvX4pBrtoDuH1tjLfVesy67arDy2-WXtWVxh-DPQRCRap1RNmH-JARFliEmMa5aNYE68cksnqW-4IG9iSEuSX8H3mnAjCmRRPneMOtIbLxaIknigdVaAPO5T2HMvOA-WJjoSsZZzcHi9e4T8f6pRSN0DuXhREt24Vot4BkUMr_34H-oExriIwZjnJt5kj8ZcV6c9hmNXXkXDlhBu4tgnXUoeiY7MOyX8Yo1hD-wEI8WCqB-2owXQn8LKPQDdsOyCL2dsKsA_cI4v_tzhbs3n6B3Wrk_--W8PVrDFXJWV9Dt_7wtdQudVyMamn-ur_Yh-6Uox7yPLfMDrSXdKhk77R4HTaWAyUd7-ZRf1pinWgfSfDsYK5zcH7dpbbxg-EM8cgIUTR-cm87k70HRwButjulgpfp8o5m5HAmIU4PRP_84lywwIhJOZjBaorcIyVYxXAqTBLCP81yIrqp0kJfUV6BUkNGTaGdRQBaeIh5Ts3ENpsWbbay-37vCxPzgVtcJ3CBxtd2Nl_OsemhDn8-fpjYDKYlI8=w990-h315-no?authuser=1" alt="Third slide">
            </a>
        </div>
        <div>
            <a href="#">
                <img class="d-block w-100" src="https://lh3.googleusercontent.com/hzZY71bvDRYfz0vVUWnKu2zWtm0k0Idb0nY6q-J9HKtHux8LPMnxEL336CIUVm5b4uUXgowhxxftKdktH9zw19ue84wfcpmCrNeeZE5WqY2AK19Q-qIugb2eFUMWqVFzG34DUvvm5Aly5oiUn_xHn5vdEHTGYr2te3MFSqyIJ5vNTCmZxM0M82FnjoMZwjM2xoETTYFvvzDRnHsXyb2YlEC1qrXd78PrbI6to0exfh1fjoT6YIL1jtfMNLOQOaMXqsfOPE2lUGMNJ043ghKkP7sXaqMgPx3jH8hQHBcGWlNYboUhQGJ4RZR47QYjKTwgvVzZadHY6xrZHE76gmKe-adpwxYnhIW6Ek4aPXSw1A9MQKNUeZyIZr7CxZT7BwW57SsjKModRdzE2Qz6xf2_8OGgvdd5E3GJz5dJQyxkKDsezLUCNOs2m4AqtMzHtkRVoPxBAheEVx26106yAfT1DhdCydPJM_14-R3hoF1HICQ3EvaPKSdiyJE9_EILSjM5giITqN81Hk3TUzyt06SSc8PwI-RuVZ54gMTW7NSpaEhRRUXZLm0CbOo0zFvlDaG8PRgMz-esQQozKp2MkaNhSpRv4d0vxCkMxDkidg6CXm_2sOMeyHF30wCqS5QSt0-Z3iTPBPQGefOms-IbdDuI_DT72EzrlryTyT51GPkqcszRUlRk0Sx6PlaCNT6oIPnkb4P_oJxL7wfS62lrWXb7tjiS=w1202-h382-no?authuser=1" alt="Fifth slide">
            </a>
        </div>
        <div>
            <a>
                <img class="d-block w-100" src="https://lh3.googleusercontent.com/lGfcqDi7r3sNG28Ko56lJA16kMqwaurs8YGg6bxxes2tvRLR-9X0pHL1K-WiownXmgLCVxhbd0C7Emb4XqvJCaDBgg8oMw_DPIpbtSM4AZWdZ_fx7ZlFlwRVM1hNXRekW_uBPoJusRg4ej5rJZDeKy9k-NyVp1vDp5QIg8dA_0SMKCCe5OjRAb08LhGtZCoBpzTHUCeGYFLxUvKlUqcGSnWRAXFWd6tGTb03naDhAxYIEwy-TNncTbzUMVDlXV1tqY1-bh3hDS73s9j-rBPStkYRE21N5CjS4hvD5kYzXChcQVIg_DgHgKSQNdtFnz4sUzTqMtbv9u4gyMXOEn8ZhmTxas13FcvlUFMmaSdv7I8uTN28Cd3I4hp7AJ34yCqkwwqjjc06SuUgWuvzDmjG1-DFry4gcBDHPbnGWrfOmiVdaO8MWPQ5jdNnUlwJ263ZBJykCzUBRE38g-1HMo1TccBcPGjGsYS2zHJfqHxMATdct-brLLW3I9k8zxJDLFZfk5B8Q-7RShezJbmkI6CjkmyxsSTxOqUVlRmVyZgl5R6RuCFPBfjg1wf-w7CzUymEeoBuL0zDPuBptTHrYT9OIwYwgZKjhjcRX1TJgQlCEJcfhPz0EIzbi8WRk7lP5QvT4_XVNnV9JIpPfciGNuXfkLkkhXoVmlJeMNbVvnfMhmm37ssu6LTv8WpJEklYiUL9YrphmLPwY0c8lTjGbWfWesxp=w1200-h382-no?authuser=1" alt="Sixth slide">
            </a>
        </div>
    </div>

    @*---*@
    @*Khuyến mãi*@
    <div style="background-color: #be1e2d; border-radius: 5px" class="khuyenmai mt-4">
        <h4>HOTSALE</h4>
  <div id="timer" style="display: inline-block; float:right; padding-top: 10px; padding-right: 6px;">
            <span style="color:white;">Kết thúc sau</span>
            <div id="days"></div>
            <div id="hours"></div>
            <div id="minutes"></div>
            <div id="seconds"></div>
            <div id="log"></div>
        </div>
        <div class="hotsale mt-1" style="padding-left: 2.5px; padding-right: 2.5px">
            @for (int i = 0; i < 10; i++) {
                <div>
                    <a href="#">
                        <div class="card">
                            <div class="lbsale"><span class="lbtragop">Trả góp 0%</span></div>
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/VFfOoovEyLn0xzp0H0h3Xmyw2jBCadUohYQ6wAY15bbT6WGtI0EeUFux4MrgR3PKJhgpzvKKoLpqmQJE_tAmK7mzhGn9aSyJfh0ZJ09zDPCwIEsmjPd4YdVFf0bEQA94aNWIbn756mKJPYkOIDNtp4RWKvgOI42AgT47ICRNr2Qm2NAA0rc0gzV9LmPAYHnXKYgEknAngyIcF22YY5_Ubz9hpkK4-Jxo4S0sAz6fylL4KKom_FT_3iEfKQ8ag-9TIuKvlqwmERbkLw5As722vYMvL_hVsAnWkMvYsqt3WFSRZkwRpUk5SGhUTrssFpV57Sl6WAYFZccq4JG2vmIt89dLSkoMqf1N_uXBTr3DU2IKG1F-MCclv7qpOUSZi1OnLli8WCjX5zoX14Xv5dWACUN1lvl4ZW9AkwmdOd_0u0PS_j6Zx2RCgxsvwj9Rw2NA1uHlHGlyPCF576c4xI1oMHRbPTPjfQJlc2lxkkBDUZTYtOwmjCxKLDRTUhhaMi415TOM4x-V6_zvxr3N2MoOxhir1iF7VoLBWbhExIAnqb2-FdkVVh_7WT3AOzZrmAgJypA21stwLAr--V3G4oC8MQRyphNOSOETB7PiPlc25VT7Pitkb4WX4fSsm6fRcptop8BT8twulk5j_7M_Lh4qKkYYUODjGyQa-OLEi0kVK225mQMgVjy3kB-gHO9FE0JD2zVO3NkrXEGTfd5r74UCt45G=s600-no?authuser=1" alt="Iphone 13 Pro Max">
                            <div class="card-body">
                                <h5 class="card-title">Iphone 13 Pro Max 128GB</h5>
                                <h5 class="card-title pricesale m-0">33.990.000</h5>
                                <h6 class="card-title price text-muted mt-1">35.990.000</h6>
                                <div>
                                    <p style="display:inline">
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    @*---*@
    @*Nổi bật*@
    <div class="container banner">
        <a href="#">
            <img src="https://hoanghamobile.com/Uploads/2021/10/25/iphone-13-series-pre-23423423.jpg" />
        </a>
        <a href="#">
            <img src="https://hoanghamobile.com/Uploads/2021/11/01/galaxy-a52s-1200x200_637713772132991101.jpg" />
        </a>
    </div>
    <div class="phone mt-4">
        <div class="mb-3">
            <h4 class="d-inline"><a asp-controller="Products" asp-action="Phone">ĐIỆN THOẠI NỔI BẬT</a></h4>
            <div class="d-inline d-l2" style="float: right">
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="7">Apple</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="8">Samsung</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="9">Xiaomi</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="10">Vivo</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="12">Nokia</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="13">Sony</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="14">Realme</a>
                <a class="btn" asp-controller="Products" asp-action="Phone" >Xem tất cả</a>
            </div>
        </div>

        <div class="highlight">
            @for (int i = 0; i < 8; i++) {
                <div>
                    <a href="#">
                        <div class="card">
                            <div class="lbsale"><span class="lbtragop">Trả góp 0%</span></div>
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/VFfOoovEyLn0xzp0H0h3Xmyw2jBCadUohYQ6wAY15bbT6WGtI0EeUFux4MrgR3PKJhgpzvKKoLpqmQJE_tAmK7mzhGn9aSyJfh0ZJ09zDPCwIEsmjPd4YdVFf0bEQA94aNWIbn756mKJPYkOIDNtp4RWKvgOI42AgT47ICRNr2Qm2NAA0rc0gzV9LmPAYHnXKYgEknAngyIcF22YY5_Ubz9hpkK4-Jxo4S0sAz6fylL4KKom_FT_3iEfKQ8ag-9TIuKvlqwmERbkLw5As722vYMvL_hVsAnWkMvYsqt3WFSRZkwRpUk5SGhUTrssFpV57Sl6WAYFZccq4JG2vmIt89dLSkoMqf1N_uXBTr3DU2IKG1F-MCclv7qpOUSZi1OnLli8WCjX5zoX14Xv5dWACUN1lvl4ZW9AkwmdOd_0u0PS_j6Zx2RCgxsvwj9Rw2NA1uHlHGlyPCF576c4xI1oMHRbPTPjfQJlc2lxkkBDUZTYtOwmjCxKLDRTUhhaMi415TOM4x-V6_zvxr3N2MoOxhir1iF7VoLBWbhExIAnqb2-FdkVVh_7WT3AOzZrmAgJypA21stwLAr--V3G4oC8MQRyphNOSOETB7PiPlc25VT7Pitkb4WX4fSsm6fRcptop8BT8twulk5j_7M_Lh4qKkYYUODjGyQa-OLEi0kVK225mQMgVjy3kB-gHO9FE0JD2zVO3NkrXEGTfd5r74UCt45G=s600-no?authuser=1" alt="Iphone 13 Pro Max">
                            <div class="card-body">
                                <h5 class="card-title">Iphone 13 Pro Max 128GB</h5>
                                <h5 class="card-title pricesale m-0">33.990.000</h5>
                                <h6 class="card-title price text-muted mt-1">35.990.000</h6>
                                <div>
                                    <p style="display:inline">
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="laptop mt-4">
        <div class="mb-3">
            <h4 class="d-inline"><a asp-controller="Products" asp-action="Laptop">LAPTOP NỔI BẬT</a></h4>
            <div class="d-l2" style="float: right">
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="16">Mac</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="17">Asus</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="18">Acer</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="19">Dell</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="20">Lenovo</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="21">HP</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="22">MSI</a>
                <a class="btn" asp-controller="Products" asp-action="Laptop">Xem tất cả</a>
            </div>
        </div>
        <div class="highlight">
            @for (int i = 0; i < 8; i++) {
                <div>
                    <a href="#">
                        <div class="card">
                            <div class="lbsale"><span class="lbtragop">Trả góp 0%</span></div>
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/pw/AM-JKLWQX67INaGdM5WL8vhyq26jCa0k6cuDiYYlLOWSIN54ND-ie4niYp2Bj0UQov3YziQxFzMTU88L4aU1arM0_i7QUu-aftHTiHRBX_PTYj9wxczh16eSmXhpSA5d9tW2FroX8oLexSniEAox7WXeDW0A=w600-h400-no?authuser=1" alt="Iphone 13 Pro Max">
                            <div class="card-body">
                                <h5 class="card-title">Laptop Apple MacBook Pro M1 2020 16GB/512GB (Z11C)</h5>
                                <h5 class="card-title pricesale m-0">42.990.000</h5>
                                <h6 class="card-title price text-muted mt-1">44.990.000</h6>
                                <div>
                                    <p style="display:inline">
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="tablet mt-4">
        <div class="mb-3">
            <h4 class="d-inline"><a asp-controller="Products" asp-action="Tablet">TABLET NỔI BẬT</a></h4>
            <div class="d-l2" style="float: right">
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="23">iPad</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="24">Samsung</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="26">Huawei</a>
                <a class="btn" asp-controller="Products" asp-action="Tablet">Xem tất cả</a>
            </div>
        </div>
        <div class="highlight">
            @for (int i = 0; i < 8; i++) {
                <div>
                    <a href="#">
                        <div class="card">
                            <div class="lbsale"><span class="lbtragop">Trả góp 0%</span></div> @*Hơn 4 triệu thì cho trả góp*@
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/M0vxC6b-vJKtFQLknTLgIQ2tnML1Q2fNAqFdSmOmRzWv3DHqGFltl5mrM9eB5UeiJxdxrS9lkb_VJ8G077wB5DgU2VIUp_F7V3Po7sal98wOArOTebb4_wlyTC8y4gW4Ec1WKa31QU7012yWfAsjwFCRZWqcaZej-UTQuHnD1IkbzFzM5l5FqBE16WeL7MRpk3di0HHjFuVPCYlPWcTyri_Nb5czG_-aLdsH0-KMwYQeh4Uh6_I3GiE3bkhKL2BfUga4ZAm5dcN_x1EhUxCyxydIejg6vYFgs4XehWJJakrk6FbpZj_VD0ZEaiCmUn8AlS_d5ZQ37t35w2KGcWjaSEBwrJZhRcTDoBpeStKT5iDltUqP9gUYXRcE9ZXKWgYOJBK9TeXj2ca4fOEGTGzOvp7I2vA1Ip2LFXzhbjjlAJ27UTNvcW4ezzd6kmxYeykjXjAkQBimVw2itFxUkgbdlNEbFWaOPHW4NVCHohjHlgdZplKoZCbv-Jt5QxOjHaRmzkwg13EbL_KX32deDNpTyw7OOuIXfox9ydKynr2uPZkFiLwIarobAVzC6COL3udVUGRtbi_n8W2DSG9mxsX5DhHuXcDQdaPDXCLpppC_C7NXkrkGYMOGbJoQa780X7XY8mCLOAL4hNUA0cebEbC79RYjlEDCH1mz_5BZPfkrWdyydWqsRkeGdBD4wbJtrdoPC-CjQLa3a_BnAETUWqaY6I23=s600-no?authuser=1" alt="Iphone 13 Pro Max">
                            <div class="card-body">
                                <h5 class="card-title">Máy tính bảng iPad mini 6 WiFi Cellular 256GB</h5> @*tên sản phẩm*@
                                <h5 class="card-title pricesale m-0">24.990.000</h5> @*Giá sau giảm*@
                                <h6 class="card-title price text-muted mt-1">26.990.000</h6> @*Giá trước giảm*@
                                <div>
                                    <p style="display:inline">
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="container banner">
        <a href="#">
            <img src="https://hoanghamobile.com/Uploads/2021/10/19/airpods-3-1200x200.jpg" />
        </a>
    </div>
    <div class="sound mt-4">
        <div class="mb-3">
            <h4 class="d-inline"><a asp-controller="Products" asp-action="Sound">ÂM THANH</a></h4>
            <div class="d-l2" style="float: right">
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="44">Apple</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="39">LG</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="58">Jabra</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="59">Mozard</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="60">Xiaomi</a>
                <a class="btn" asp-controller="Products" asp-action="Category" asp-route-id="67">Belkin</a>
                <a class="btn" asp-controller="Products" asp-action="Sound">Xem tất cả</a>
            </div>
        </div>
        <div class="highlight">
            @for (int i = 0; i < 4; i++) {
                <div>
                    <a href="#">
                        <div class="card">
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/56T_z_hOipPqOp64HqChcZrWoXaMYoJo5vdSYgI-DUB8smdx01eiz0AFQLaSuKiNbIM67Kq_PvUYkygQJU7bfJ6exgmgBc6zL_dQvtjYwnBglVjMBncn58_Ew5cc3kNB0R-uotwcU7kBHa_dWa8t1K8C2M689QCEXRf-SeslYC_0qZqHkSZuYoLsqRU1n89xYpHNM3W42xgG_6IAVG8KOsDLb4v4FSxbxzrmifBzjqRq1Ob1sS3RikXVCcbCJHH8Y32960ZbKmHI5lYT8Gbv9vNoWmld96KA6nVjN2WdUMPFA5a9ZqhsugadsajRbX3C3ffCSpRql2_ND_SpPEQHwP-AGiXfevEvJmq5G7Wd9hYxOEUSEeiaXXVKSwwOOxn2zVu1T9WBzz8Au4_7t2U8JggEB8otG9lHVDmlZ3NXkKoya7NqFiUwTm1AHYN4qSCKSvTUv2qGXCbf3rum1cGWFnZ-h5_gwIk_ILcPBlnDpNXL3BKADvenQET0Z0uFqxLChL8iE0NedrEuqAXzxM09j-Cgdglb04l1CS9Bb9tpzg8Ap_gysCBvL_mwavNJfDLcJTExMoFbuJ4mHNefxa-Cr93wmCD-S8isy4TjdmNuBPhIeDTC7yPRmDiPeRpY7pd884sUNinZzsMAHPp4xXVvgRvWlUZs_7HSlI_dSlhraEjWP5p-qlPkz9lXXte3QO--y3yNPC16uOLRyIE68i-UHhMp=s600-no?authuser=1" alt="Iphone 13 Pro Max">
                            <div class="card-body">
                                <h5 class="card-title">Tai nghe Bluetooth AirPods 2 Apple MV7N2</h5>
                                <h5 class="card-title pricesale m-0">3.470.000</h5>
                                <h6 class="card-title price text-muted mt-1">4.390.000</h6>
                                <div>
                                    <p style="display:inline">
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="container banner">
        <a href="#">
            <img src="https://hoanghamobile.com/Uploads/2021/11/03/ezgif-com-gif-maker.gif" />
        </a>
    </div>
    <div class="/accessories mt-4">
        <div class="mb-3">
            <h4 class="d-inline"><a href="/accessories">PHỤ KIỆN</a></h4>
            <div class="d-l2" style="float: right">
                <button type="button" class="btn" onclick="window.location.href='#'">AVA</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Pisen</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Razer</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Tenda</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Xiaomi</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Anker</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Aukey</button>
                <button type="button" class="btn" onclick="window.location.href='#'">Xem tất cả</button>
            </div>
        </div>

        <div class="highlight">
            @for (int i = 0; i < 4; i++) {
                <div>
                    <a href="#">
                        <div class="card">
                            <img class="card-img-top" src="https://lh3.googleusercontent.com/E4_7eUFQ2Yc4iP7nDyj9fUq3lEL-TZJIep6BB3--WgzZwe9qk-flg1nzo4U-dbCrKItNFXpdxak3Sk4sx-FxPjXCI9R4JpYXGN0pacQ14h6mEGCWuLd7ufv-0HJPEHJOyjFalg-KdL6XGHk1F4vjmGemtoit_LzEw_SAk_42kC-NYurnSYnGhrbL8_hORd_E6Rpjug_qv3NyUKSRBga69PtHdjvic8ZQzLvyAoBOekoo_Zbmpg4dj6CpmcOT7khbPRKE5vSC5y-8T94RQNylFmYWsbgJU9Ty7BjVRX-jRFgH41xW4dStJo-IvKNKRF1eN6WAnGEuaJpQ41OnQerYtGGzEMmJZ2m0DeXadM_uNfyJtZqpL501dbrSDo3Gs7MLbSdCaVG86v2sCiZEpsGW6jOMdKO9uEO9xq40dXDcuQnqeC7byna-uwosHepl9PE-jMdIJKZ4OSBoDFcob9CjRSZHLfOdiy_OqKajapCs-Efhlk2zRAW8eOljAHYXrBHne7l3UF5ZkIEgNnYMWEn8ZA9xKWI3YkhDyHfnbbdfFEVwdymJdOo6WoigQSbBpzu2I1i-UVxkL1-xUQTq42YwQ8_TXpg4QASTzrwktHIB_AYqHHY2XKBxNuJN_J2GFntA4-DzDLTrFvOBL-CZD9DqVyF-llSSw9zuS_MTtEG7-aO4kAcSBCjSy6wx9Sdn4rZwzCp1gHVgxstZPplcWuthgZTn=s600-no?authuser=1" alt="Iphone 13 Pro Max">
                            <div class="card-body">
                                <h5 class="card-title">Sạc AVA ASUC62a</h5>
                                <h5 class="card-title pricesale m-0">70.000</h5>
                                <h6 class="card-title price text-muted  mt-1">90.000</h6>
                                <div>
                                    <p style="display:inline">
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        <svg class="rating-checked" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                        </svg>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.hotsale').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                swipe: false,
                prevArrow: '<button type="button" class="slick-prev btn btn-danger"></box-icon></button>',
                nextArrow: '<button type="button" class="slick-next btn btn-danger"></box-icon></button>'
            });
            $('.slide').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
            });

        });

        function countDown() {
            var currDate = new Date()
            var endTime = new Date(currDate.getFullYear(), currDate.getMonth(), currDate.getDate() + 2, 23, 59, 59);;
            endTime = (Date.parse(endTime) / 1000);
            var now = new Date();
            now = (Date.parse(now) / 1000);
            //var endTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 24);

            // $("#log").html(endTime.getHour());
            var timeLeft = endTime - now;

            var days = Math.floor(timeLeft / 86400);
            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
            if (days < "10") { days = "0" + days;}
            @*if (hours > 8) { hours = 0; minutes = 0; seconds = 0; }*@
            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }

            $("#days").html(days);
            $("#hours").html(hours);
            $("#minutes").html(minutes);
            $("#seconds").html(seconds);
        }

        setInterval(function () { countDown(); }, 1000);
    </script>
</body>