@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul>    Chính sách mua hàng
        <li>
            Mua rồi thì không trả
        </li>
        <li>
            Đổi hàng mới trong vòng 1 tháng
        </li>
    </ul>
</div>