
@{
    ViewBag.Title = "Payment";
}

<h2>thanks for purchase or product</h2>

 <script type="text/javascript">
window.onload = function ()
{
    setTimeout(RedirectToUrl, 2000);
}
function RedirectToUrl()
{
    window.location = "/";
}
</script>

