
.product-slice {
    width: 400px;
    height: 400px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
    .product-slice img {
        width: 350px;
        height: 350px;
    }
.product-slice-nav {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
    .product-slice-nav img {
        width: 80px;
        height: 80px;
        border: 1px solid #D1D5DB;
        padding: 5px;
        border-radius: 10px;
        margin: auto;
    }

    .slider-nav > div {
        justify-content: center;
    }
    .slider-for {
        margin: 25px;
    }
.row {
    margin-bottom: 50px;
}

.product-slice .slick-prev, .product-slice .slick-next {
    background-color: transparent;
    z-index: 1;
    width: 40px !important;
    height: 60px !important;
    justify-content: center;
    border-radius: 5px;
    top: 49% !important;
}
.product-slice .slick-prev {
    box-shadow: none !important;
}

.product-slice .slick-next {
    box-shadow: none !important;
}

    .product-slice .slick-prev:before, .product-slice .slick-next:before {
        color: rgb(158 158 158 / 0.5) !important;
        font-size: 32px !important;
    }


.product-slice .slick-prev:focus {
    box-shadow: 6px 1px 4px rgb(0 0 0 / 10%), 4px 0 4px rgb(0 0 0 / 18%);
}

.product-slice .slick-next:focus {
    box-shadow: -6px 0 4px rgb(0 0 0 / 10%), -4px 0 4px rgb(0 0 0 / 18%);
}
h3.unitprice{
    color: #be1e2d; 
    font-weight: bold;
    display: inline;
}

#price2 {
    color: #666;
    text-decoration: line-through 1px #666;
}
    .headerpath {
        border-bottom: 1px solid #D1D5DB !important;
    }
    .headerpath > span > a:link {
        color: black;
        text-decoration: none;
    }
    .headerpath > span > a:visited {
        color: black;
        text-decoration: none;
    }
    .headerpath > span > a:hover {
        color: black;
        text-decoration: none;
    }
    .headerpath > span > a:active {
        color: black;
        text-decoration: none;
    }

.info {
    margin-top: 35px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
    .info > div {
        border-radius: 10px;
        margin-bottom: 10px;
    }
.info > div > .table > tbody > tr > td {
    padding: 0.4rem;
    vertical-align: middle;
    border-top: none;
    text-align: left;
    padding-left: 10px;
}
.cauhinhchitiet {
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-bottom: 10px;
}
    .cauhinhchitiet tr > td {
        padding: 0.5rem;
        vertical-align: middle;
        border-top: none;
        text-align: left;
        padding-left: 20px;
        font-size: 15px;
        text-align: left;
    }
.table tr{
    border: 1px solid #F2F2F2;
}
    .cauhinhchitiet tr > td {
        max-width: 25px;
    }
    .cauhinhchitiet > div > h6 {
        padding-left: 0.5rem;
        color: #be1e2d;
    }
.cauhinhchitiet tr > td:first-child {
    font-weight: 500;
    width: 25%
}
.cauhinhchitiet .table{
    width: 98%;
}
table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.info > a {
    width: 10.5%;
    width: 95%;
    font-size: 14px;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

    .info > a:hover {
        color: white !important;
        background-color: #be1e2d;
        transition: 0.1s;
        cursor: pointer;
    }
.info tr > td:first-child {
    font-weight: 500;
}
.cauhinhchitiet > div {
    margin-top: 30px;
}


.clickbuy > a {
    background-color: rgb(26, 148, 255);
    position: absolute;
    margin-top: 20px;
    color: white;
    padding: 10px;
    width: 92%;
    border-radius: 10px;
    text-align: center;
}
    .clickbuy > a:link{
        text-decoration: none;
    }
        .clickbuy > a:visited {
            text-decoration: none;
        }
        .clickbuy > a:hover {
            text-decoration: none;
        }
        .clickbuy > a:active {
            text-decoration: none;
        }
.clickbuy  p {
    margin-bottom: 0px;
}

.uudai {
    position: absolute;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 10px;
}
    .uudai > h6 {
        padding: 10px;
        background-color: #be1e2d;
        border-radius: 10px 10px 0px 0px;
        color: white;
        margin-bottom: 0px;
    }
.uudaicontent > p > i {
    color: #be1e2d;
}
.thongtinmay {
    position: absolute;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 10px;
}
    .thongtinmay > h6 {
        padding: 10px;
        background-color: #f6f6f6;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0px;
    }

.uudaicontent, .thongtincontent, .quatangcontent {
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    font-size: 14px;
}

    .uudaicontent ul, .thongtincontent ul, .quatangcontent ul {
        padding-left: 20px;
    }
    .uudaicontent li::marker, .quatangcontent li::marker {
        content: "✅";
    }
    .thongtincontent li::marker {
        content: "🛡";
    }
.quatangdikem {
    position: absolute;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 10px;
}
    .quatangdikem > h6 {
        padding: 10px;
        background-color: #be1e2d;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0px;
        color: white;
    }
.grouping > div {
    margin-bottom: 8px;
}
    .grouping > div > a {
        border: 1px solid #e0e0e0;
        color: #333;
    }
.modal-footer > button {
    background-color: #be1e2d;
    border: none;
}
.modal-header {
    background-color: #be1e2d;
}
.modal-title {
    color: white;
}
.modal-header > button > span {
    color: white;
}
#exampleModalLong button:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #be1e2d;
}
#exampleModalLong button:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: #be1e2d;
}
#exampleModalLong .modal-content {
    border: none !important;
}
#exampleModalLong .modal-dialog {
    max-width: 700px !important;
}
.relative::after {
    content: "";
    clear: both;
    display: table;
}

.relative > div {
    float: left;
    width: 25%;
    padding-top: 0px;
}

    .relative > div > a:hover {
        text-decoration: none;
        color: black;
    }
.relative > h5 {
    background-color: #be1e2d;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.relative {
    justify-content: center;
}

    .relative > div > a > div {
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
        .relative > div > a > div:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.4s ease-in-out;
        }
.card-img-top {
    height: 65%;
    width: 65%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card {
    border: 1px solid white;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.card-body {
    height: 175px;
}
h5.pricesale {
    color: #be1e2d;
}

h6.price {
    text-decoration: line-through 1px solid black;
}
.lbsale {
    padding-top: 3px;
    padding-left: 7px;
}

.lbtragop {
    background-color: #be1e2d;
    color: white;
}
.lbsale span {
    border-radius: 4px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
}
.rating-checked {
    color: rgb(255, 81, 0);
}
.relative {
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    border-radius: 10px;
}