@model IEnumerable<WEB2.Models.Product>

@{
    ViewData["Title"] = "Sound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("/css/views/home/productlist.css")" rel="stylesheet" type="text/css" />
}
<main>
    <style>
        .card-body > p {
            text-align: center;
            font-size: 12px;
        }

            .card-body > p > span {
                padding: 5px;
                border: 1px solid black;
                border-radius: 3px;
                margin-left: 3px;
                margin-right: 3px;
                color: black;
                font-weight: 500;
            }
    </style>
    <div class="container" style="justify-content: center">
        <div class="mb-3">
            <div class="d-inline">
                <a class="btn" id="Apple" asp-controller="Products" asp-action="Category" asp-route-id="16"><img src="https://cdn.tgdd.vn/Brand/1/logo-macbook-149x40.png" width="90" /></a>
                <a class="btn" id="Asus" asp-controller="Products" asp-action="Category" asp-route-id="17"><img src="https://cdn.tgdd.vn/Brand/1/logo-asus-149x40.png" width="90" /></a>
                <a class="btn" id="Acer" asp-controller="Products" asp-action="Category" asp-route-id="18"><img src="https://cdn.tgdd.vn/Brand/1/logo-acer-149x40.png" width="90" /></a>
                <a class="btn" id="Dell" asp-controller="Products" asp-action="Category" asp-route-id="19"><img src="https://cdn.tgdd.vn/Brand/1/logo-dell-149x40.png" width="90" /></a>
                <a class="btn" id="Lenovo" asp-controller="Products" asp-action="Category" asp-route-id="20"><img src="https://cdn.tgdd.vn/Brand/1/logo-lenovo-149x40.png" width="90" /></a>
                <a class="btn" id="HP" asp-controller="Products" asp-action="Category" asp-route-id="21"><img src="https://cdn.tgdd.vn/Brand/1/logo-hp-149x40-1.png" width="90" /></a>
                <a class="btn" id="MSI" asp-controller="Products" asp-action="Category" asp-route-id="22"><img src="https://cdn.tgdd.vn/Brand/1/logo-msi-149x40.png" width="90" /></a>
           </div>
        </div>
        </div>

    <script>
        $(document).ready(function () {
            $("#sound").css({ "background-color": "white", "color": "#be1e2d" })
        });
    </script>
</main>

